<h1>Productos</h1>
<div>
    {{!-- Recibe el objeto products del view --}}
    {{#each products}}
    <div>
        <p>{{title}}</p>
        <p>{{description}}</p>
        <p>{{price}}</p>
        <p>{{id}}</p>
    </div>
    {{/each}}
</div>